.black {
    background-color: aquamarine;
}

.ant-table-tbody  tr  td{
    padding: 0 !important;
}

/* .wi  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
} */

.ant-table-thead  > tr th{
    padding: 10px !important;
    min-width: 100px;
    background-color: #0e7cff4f
}
