
.show  {
    border: 1px solid teal;
    padding: 10px;
    width: 100%;
    display: block;
}
.hide  {
    background: transparent;
    padding: 10px;
    width: 100%;
    display: block;
}
.tableborder{
  border: 1px solid gainsboro;
  padding: 10px;
  box-sizing: border-box;
  text-align: center
}
.tableborderHeader{
  border: 1px solid gainsboro;
  padding: 10px;
  background: gray;
  font-size: 999;
  text-align: center
}

