.title{
    color: #1a4758;
    display: inline-block;
    font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 12px;
    vertical-align: middle;
}
.slidertitle{
    text-align: center;
    overflow: hidden; 
    height: 42px;
    line-height:42px;
    left:40%;
    float: left;
    position: relative;
}